* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.header-section {
  height: 100%;
  background-image: url(./images/bg1920.jpg);
  /* background-position: center; */
  background-size: cover;
}

.bulb {
  position: absolute;
  right: 50px;
  width: 500px;
}

.logo {
  padding-top: 20px;
  padding-left: 22px;
}

.row {
  margin: 0;
  padding: 0;
}

/* /////// notice section /////////// */

.middle {
  text-align: center;
}

.middle2 {
  display: block;
  /* margin-left: 20%; */
  text-align: right;
  margin-left: 250px;
}

.logo-image {
  width: 300px;
}

.notice-font {
  font-family: "Preah Vihear";
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 118px;
  text-align: right;
}

/* //////////////// end notice section */

/* ////////////// footer section ///////////////// */

.footer {
  margin-top: 220px;
}

.footer-text-1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  text-align: center;
}

.footer-text-2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.footer-contact-phone {
  display: block;
  text-align: center;
}

.footer-phone {
  margin-top: -25px;
}

/* /////////end footer section */

/* /////  */

@media screen and (max-width: 414px) {
  .header-section {
    background-image: url(./images/Background-image-mobile.png);
  }

  .bulb {
    width: 199.19px;
    right: 20px;
  }

  .logo {
    display: flex;
    justify-content: center;
    margin-top: 230px;
  }

  .logo-image {
    width: 173px;
    height: 193px;
  }

  .middle2 {
    margin-left: 0px;
  }
  .notice-font {
    font-family: "Preah Vihear";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
  }

  .middle2 {
    display: block;
    text-align: center;
  }

  /* ///// responsive footer section ///// */

  .footer {
    margin-top: 60px;
    font-size: 18px;
    line-height: 27px;
  }

  .footer-contact-phone {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 11px;
    line-height: 15px;
  }

  .mobile-footer-contact-phone {
    padding-top: 10px;
  }

  /* ///// end of responsive footer section */
}
