* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.header-section {
  height: 100%;
  background-image: url(./images/bg1920.jpg);
  /* background-position: center; */
  background-size: cover;
}

.bulb {
  position: absolute;
  right: 50px;
  width: 480px;
}

.logo {
  padding-top: 20px;
  padding-left: 22px;
}

.row {
  margin: 0;
  padding: 0;
}

/* /////// notice section /////////// */

.middle {
  text-align: center;
}

.middle2 {
  display: block;
  /* margin-left: 20%; */
  text-align: right;
  margin-left: 250px;
}

.logo-image {
  width: 300px;
}

.notice-font {
  font-family: "Preah Vihear";
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 118px;
  text-align: right;
}

/* //////////////// end notice section */

/* ////////////// footer section ///////////////// */

.footer {
  margin-top: 220px;
}

.footer-text-1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  text-align: center;
}

.footer-text-2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.footer-contact-phone {
  display: block;
  text-align: center;
}

.footer-phone {
  margin-top: -25px;
}

/* /////////end footer section */

/* ///// width section 1366px ///// */

@media screen and (max-width: 1366px) {
  .bulb {
    position: absolute;
    right: 50px;
    width: 260px;
  }

  .logo-image {
    width: 173px;
    height: 193px;
  }

  .notice-font {
    font-family: "Preah Vihear";
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
  }

  .middle2 {
    display: block;
    text-align: right;
  }

  /* ///// responsive footer section ///// */

  .footer {
    margin-top: 200px;
    font-size: 18px;
    line-height: 27px;
  }

  .footer-contact-phone {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 11px;
    line-height: 15px;
  }

  .mobile-footer-contact-phone {
    padding-top: 10px;
  }
}

/*--------------------tab(large) devices (1024 x 1366) media screen---------------------------------- */

@media only screen and (max-width: 1024px) and (max-height: 1366px) {
  .header-section {
    background-image: url(./images/bg.png);
    height: auto;
    padding-bottom: 12px;
  }

  .bulb {
    width: 250.19px;
    right: 20px;
  }

  /* .logo {
    display: flex;
    justify-content: center;
    margin-top: 230px;
  } */

  .logo {
    margin-top: 10px;
  }

  .logo-image {
    width: 250px;
    height: 250px;
  }

  .middle2 {
    margin-left: 0px;
    margin: auto;
    margin-top: 300px;
  }
  .notice-font {
    font-family: "Preah Vihear";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }

  .middle2 {
    display: block;
    text-align: center;
  }

  /* --------------------------responsive footer section---------------------- */

  .footer {
    /* margin-top: 220px; */
    font-size: 18px;
    line-height: 27px;
    margin-top: 568px;
  }

  .footer-contact-phone {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 17px;
    line-height: 15px;
  }

  .mobile-footer-contact-phone {
    padding-top: 10px;
  }

  .footer-text-1 {
    margin-top: auto;
    padding-bottom: 10px;
    font-size: 27px;
  }
}
/* ------------------------------------------------ End - responsive footer section*/
/* ---------------------------------------------------End - tab(large) devices (1024 x 1366) media screen */

/* ---------------------------------------------------- End - footer section*/

/* ----------- tab devices (768 x 1024) media screen ------------- */

@media only screen and (max-width: 768px) and (max-height: 1024px) {
  .logo-image {
    width: 200px;
    height: 200px;
  }

  .bulb {
    width: 230px;
  }

  .notice-font {
    font-size: 37px;
  }

  .middle {
    margin-top: -100px;
  }

  .footer {
    margin-top: 356px;
  }

  .footer-text-1 {
    font-size: 23px;
    padding-left: 120px;
    padding-right: 120px;
    line-height: 29px;
  }

  .footer-contact-phone {
    font-size: 15px;
  }
}

/* -------------------------------------------------------------- */

/* /--------------- mobile devices (375x812) media screen--------------*/

@media only screen and (max-width: 375px) and (max-height: 812px) {
  .bulb {
    width: 160px;
  }

  .logo {
    display: flex;
    justify-content: center;
    margin-top: 230px;
  }

  .middle {
    margin-top: -200px;
  }

  .logo-image {
    width: 200px;
    height: 200px;
  }

  .middle2 {
    margin-top: 273px;
  }

  .notice-font {
    font-size: 26px;
    line-height: 28px;
  }

  .footer-text-1 {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 17px;
    line-height: 17px;
  }

  .footer {
    margin-top: 100px;
  }

  .footer-contact-phone {
    font-size: 11px;
  }
}
/*----------------------------------------------------------------- End - mobile devices meida screen*/
